
.page {
    /* width: 75vw; */
    /*margin: auto;*/
    display: flex;
    flex-direction: column;
    background-color: white;
    /* padding: 20px; */

    /* Google AI */
    width: 210mm; /* A4 width */
    min-height: 297mm; /* A4 height */
    max-height: 297mm;
    margin: 20px auto; /* Center the page and add top/bottom margins */
    padding: 30mm 25mm; /* Inner padding for content within the page */
    background-color: white;
    box-sizing: border-box; /* Include padding in width/height calculations */
}

.header {
    margin: 0;
    padding: 0;
    text-align: center;
}
.page p {
    margin: 0;
    padding: 0;
    font-size: 15px;
}
h1 {
    margin: 0;
    padding: 0; 
}
h3 {
    margin: 0;
    padding: 0; 
}
hr {
    width: 100%;
    padding: 0;
    border-width: 100%;
    margin: 1px 0 1px 0;
    height: 2px;
}