div {
    text-align: center;
    color: #9A2A2A;
}
p {
    text-align: center;
    color: black;
}
.banner {
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 100px;
    background-color: #9A2A2A;
}
.banner-text {
    display: block;
    padding: 0px 0px 0px 0px;
    margin-top: auto;
    margin-bottom: auto;
    text-shadow: 2px 2px black;
    font-size: 100px;
    color: white;
}
